@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Heycaz";
    src: url('../fonts/HEYCAZpersonal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: linear-gradient(to top, #596d51 50%, #6f8765);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 25px 100px 25px 100px;
}

body h1{
    font-family: "Heycaz", "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 5px 3px 2px #6B8461;
}

hr{
    margin-left: 4vw;
    width: 90%;
    border: 4px solid black;
    border-radius: 25px;
}

span{
    font-weight: bold;
    color: #7ed957;
    text-shadow: 2px 2px 2px #60a442;
}

.o-que-foi{
    background-color: #5b824a;
    border: 0;
    border-radius: 15px;
    box-shadow: 12px 12px 5px #3a4735;
    padding: 10px 0px 10vh 0px;  
    text-align: center;
}

.o-que-foi p{
    margin: 25px 100px 0px 100px;
}

.como-aconteceu{
    background-color: #5b824a;
    box-shadow: 12px 12px 5px #3a4735;
    border-radius: 15px;
    margin-top: 25px;
    padding: 10px 0px 10vh 0px;  
}

.o-que-foi, .como-aconteceu{
    border: double 20px;
}

.como-aconteceu h1{
    text-align: center;
}

.como-aconteceu p, li{
    margin: 25px 100px 0px 100px;
}

.como-aconteceu li p{
    margin: 0;
}

input[type="checkbox"]{
    display: none;
}

label{
    background: url(../img/checked-off.png);
    display: inline-block;
    background-size: 50px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

label:hover{
    cursor: pointer;
    width: 60px;
    background-size: 60px;
}

input:checked + label{
    background: url(../img/checked-on.png);
}

input:checked + label:hover{
    background-size: 60px;
}

.esconder-erros{
    display: none;
}

.fade-in{
    animation: fade-in .5s ease-out;
}

@keyframes fade-in {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
        transition: 5s;
    }
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.az-5{
    background-color: rgb(104, 89, 89);
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 5px rgb(76, 65, 65) inset, -8px -8px 5px rgb(76, 65, 65) inset;
}

#botao{
    background-color: rgb(200, 13, 13);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5em;
}

#botao p{
    position: absolute;
}

button{
    box-shadow: -10px -10px 0px rgb(150, 35, 35) inset;
}

button:hover{
    cursor: pointer;
}

section img, .az-5{
    margin: 50px 0px 20px 0px;
    border-radius: 25px;
}

.sumir{
    display: none;
}